In [ ]:
import numpy as np
import pandas as pd

#### Reading Data using python

In [ ]:
with open("new.csv", "r") as fp:
    print(fp)

In [ ]:
with open("new.csv", "r") as fp:
    for index, line in enumerate(fp.readline()):
        if (index < 10):
            print(index, line)

In [ ]:
with open("new.csv", "r") as fp:
    for index, line in enumerate(fp.readline()):
        if (index < 10):
            timestamp, price = line.split(",")
            print(f"{timestamp}: ${price}")

In [ ]:
!head exam_review.cvs

##### Using the CSV Module

In [ ]:
import csv

In [ ]:
with open("new.csv", "r") as fp:
    reader = csv.reader(fp)
    for index, (timestamp, price) in enumerate(reader):
        if (index < 10):
            print(f"{timestamp}: ${price}")

##### Reading with Pandas

In [ ]:
pd.read_csv?

In [ ]:
# using url
csv_url = "https://raw.githubusercontent.com/datasets/gbp/master/data/gbp.csv"
pd.read_csv(csv_url).head()

In [ ]:
# Reading a local file
law = pd.read_csv("new.csv").head()
law.head()

In [ ]:
# Replacing missing values with NAN
law = pd.read_csv("new.csv",
                  header = None,
                  na_values =["-"])
law.head()

In [ ]:
# Giving column names 
law = pd.read_csv("new.csv",
                  header = None,
                  na_values =["-"],
                  names = ["Timestamp", "Price"])
law.head()

In [ ]:
law.info()

In [ ]:
# Giving column names 
law = pd.read_csv("new.csv",
                  header = None,
                  na_values =["-"],
                  names = ["Timestamp", "Price"],
                  dtype = {"Price": "float"})
law.head()

In [ ]:
law.dtypes

#### Reading Data from SQL Database

In [ ]:
import sqlite3

In [ ]:
# Sqlite3.connect() connects you to a database
my = sqlite3.connect("chinook.db")

In [ ]:
# A Cursor acts as a pointer 
cur = my.cursor()

In [ ]:
cur.execute("SELECT * FROM employees LIMIT 5;")

In [ ]:
results = cur.fetchall()

In [ ]:
results

In [ ]:
df = pd.DataFrame(results)

In [ ]:
df.head()

In [ ]:
cur.close()
conn.close()

#### Using Pandas read_sql method

In [ ]:
myf = sqlite3.connect("chinook.db")

In [ ]:
df = pd.read_sql("SELECT * FROM employees;", myf)

In [ ]:
df.head()

In [ ]:
law = pd.read_csv("SELECT * FROM employees;", myf,
                  index_col ="EmployeeID",
                  parse_dates = ["BirthDate", "HireDate"])

In [ ]:
df.head()

#### Using Pandas read_sql_query method

In [ ]:
iwu = sqlite3.connect("chinook.db")

In [ ]:
df = pd.read_sql("SELECT * FROM employees;", iwu)

In [ ]:
df.head()

In [ ]:
law = pd.read_csv("SELECT * FROM employees;", iwu,
                  index_col ="EmployeeID",
                  parse_dates = ["BirthDate", "HireDate"])

In [ ]:
df.head()