# Data Visualization
Using Matplotlib and Seadorn

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [ ]:
# The plot function
plt.plot([2, 14, 8, 5, 10, 4])
plt.show()

In [2]:
law = pd.read_csv('test.csv')
law.dropna( axis=1, inplace=True)
law.head()

,Id,MSSubClass,LotArea,Street,LotShape,LandContour,LotConfig,LandSlope,Neighborhood,Condition1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleCondition
0,1461,20,11622,Pave,Reg,Lvl,Inside,Gtl,NAmes,Feedr,...,140,0,0,0,120,0,0,6,2010,Normal
1,1462,20,14267,Pave,IR1,Lvl,Corner,Gtl,NAmes,Norm,...,393,36,0,0,0,0,12500,6,2010,Normal
2,1463,60,13830,Pave,IR1,Lvl,Inside,Gtl,Gilbert,Norm,...,212,34,0,0,0,0,0,3,2010,Normal
3,1464,60,9978,Pave,IR1,Lvl,Inside,Gtl,Gilbert,Norm,...,360,36,0,0,0,0,0,6,2010,Normal
4,1465,120,5005,Pave,IR1,HLS,Inside,Gtl,StoneBr,Norm,...,0,82,0,0,144,0,0,1,2010,Normal

In [ ]:
# Checking the various columns in the DataFrame
law.columns

In [ ]:
law.info()

In [ ]:
law.groupby("PoolArea").count()

In [ ]:
# Changing zeros to NaN
law.replace(0, "-")

In [ ]:
law.groupby("2ndFlrSF").count()

In [ ]:
# Scatter Graph
plt.scatter(x = law["2ndFlrSF"],  y = law["LotArea"])
plt.ylabel("LotArea")
plt.xlabel("2ndFlrSF")
plt.show()

In [ ]:
# Bar Graph
plt.bar(law["2ndFlrSF"], law["LotArea"])
plt.ylabel("LotArea")
plt.xlabel("2ndFlrSF")
plt.show()

In [ ]:
# Pie Chart
values = data["WoodDeckSF"].count(), data["OpenPorchSF"].count(), data["MSSubClass"].count(), data["LotArea"].count()
labels = ["WoodDeckSF", "OpenPorchSF", "MSSubClass", "LotArea"]
plt.pie(values, labels=labels, autopct='%1.1f%%')
plt.title("My Trial")
plt.show()

In [ ]:
x = law["LotArea"]
y = law["WoodDeckSF"]
plt.plot(x, y)
plt.xlabel("X axis")
plt.ylabel("Y axis")

In [ ]:
law = pd.read_csv("StudentsPerformance.csv")
law.head()

In [ ]:
law["Average Score"] = (law["math score"] + law["reading score"] + law["writing score"]) / 3
law.head()

In [ ]:
law.describe().T

In [ ]:
law.sample(5)

In [ ]:
law["gender"].value_counts()

In [ ]:
fig, ax = plt.subplots()
ax.plot(law.index, law["math score"], "v", label ="math score")
ax.plot(law.index, law["reading score"], "s", label ="reading score")
ax.legend()

ax.set_title("Math and Reading Scores")
ax.set_xlabel("Index")
ax.set_ylabel("Scores")

plt.show()

In [ ]:
female_data = law[law["gender"] == "female"]
male_data = law[law["gender"] == "male"]
grouped = law.groupby("gender")[["math score", "reading score"]].mean()

fig, ax = plt.subplots()

# Plot for females
ax.plot(female_data.index, female_data["math score"], "d", label="Female - Math")
ax.plot(female_data.index, female_data["reading score"], "v", label="Female - Reading")

# Plot for males
ax.plot(male_data.index, male_data["math score"], "s", label="Male - Math")
ax.plot(male_data.index, male_data["reading score"], "o", label="Male - Reading")

# Add labels and legend
ax.set_title("Scores by Gender")
ax.set_xlabel("Index")
ax.set_ylabel("Scores")
ax.legend()

plt.show()