# Data Visualization
Using Matplotlib

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [ ]:
# The plot function
plt.plot([2, 14, 8, 5, 10, 4])
plt.show()

In [ ]:
law = pd.read_csv('test.csv')
law.dropna( axis=1, inplace=True)
law.head()

In [ ]:
# Checking the various columns in the DataFrame
law.columns

In [ ]:
law.info()

In [ ]:
law.groupby("PoolArea").count()

In [ ]:
# Changing zeros to NaN
law.replace(0, "-")

In [ ]:
law.groupby("2ndFlrSF").count()

In [ ]:
# Scatter Graph
plt.scatter(x = law["2ndFlrSF"],  y = law["LotArea"])
plt.ylabel("LotArea")
plt.xlabel("2ndFlrSF")
plt.show()

In [ ]:
# Bar Graph
plt.bar(law["2ndFlrSF"], law["LotArea"])
plt.ylabel("LotArea")
plt.xlabel("2ndFlrSF")
plt.show()

In [ ]:
# Pie Chart
values = data["WoodDeckSF"].count(), data["OpenPorchSF"].count(), data["MSSubClass"].count(), data["LotArea"].count()
labels = ["WoodDeckSF", "OpenPorchSF", "MSSubClass", "LotArea"]
plt.pie(values, labels=labels, autopct='%1.1f%%')
plt.title("My Trial")
plt.show()

# Data Visualization
Using Seabon

In [2]:
law = pd.read_csv("StudentsPerformance.csv")
law.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [4]:
law["Average Score"] = (law["math score"] + law["reading score"] + law["writing score"]) / 3
law.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,Average Score
0,female,group B,bachelor's degree,standard,none,72,72,74,72.666667
1,female,group C,some college,standard,completed,69,90,88,82.333333
2,female,group B,master's degree,standard,none,90,95,93,92.666667
3,male,group A,associate's degree,free/reduced,none,47,57,44,49.333333
4,male,group C,some college,standard,none,76,78,75,76.333333

In [5]:
law.describe().T

,count,mean,std,min,25%,50%,75%,max
math score,1000.0,66.089000,15.163080,0.0,57.000000,66.000000,77.000000,100.0
reading score,1000.0,69.169000,14.600192,17.0,59.000000,70.000000,79.000000,100.0
writing score,1000.0,68.054000,15.195657,10.0,57.750000,69.000000,79.000000,100.0
Average Score,1000.0,67.770667,14.257326,9.0,58.333333,68.333333,77.666667,100.0